/* TokyoNight Palette */
@define-color bg      #1a1b26;
@define-color bg_alt  #24283b;
@define-color fg      #c0caf5;
@define-color cyan    #7dcfff;
@define-color blue    #7aa2f7;
@define-color magenta #bb9af7;
@define-color yellow  #e0af68;
@define-color red     #f7768e;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

window {
    margin: 0px;
    border: 2px solid @magenta;
    border-radius: 12px;
    background-color: @bg;
    color: @fg;
}

#outer-box {
    margin: 10px;
    border: none;
    background-color: transparent;
}

#input {
    margin: 5px;
    border: 1px solid @blue;
    border-radius: 8px;
    color: @fg;
    background-color: @bg_alt;
    padding: 10px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: @fg;
}

#entry {
    padding: 10px;
    border-radius: 8px;
}

#entry:selected {
    background-color: @bg_alt;
    outline: none;
}

#text:selected {
    color: @cyan;
}

#img {
    margin-right: 10px;
}
