@define-color bg          rgba(30, 30, 46, 0.9);
@define-color bg_alt      rgba(49, 50, 68, 1.0);
@define-color fg          #cdd6f4;
@define-color cyan        #89dceb;
@define-color blue        #89b4fa;
@define-color magenta     #cba6f7;
@define-color pink        #f5c2e7;
@define-color green       #a6e3a1;
@define-color yellow      #f9e2af;
@define-color red         #f38ba8;
@define-color comment     #6c7086;
