@define-color bg          rgba(25, 23, 36, 0.9);
@define-color bg_alt      rgba(31, 29, 46, 1.0);
@define-color fg          #e0def4;
@define-color cyan        #9ccfd8;
@define-color blue        #31748f;
@define-color magenta     #c4a7e7;
@define-color pink        #ebbcba;
@define-color green       #957fb8;
@define-color yellow      #f6c177;
@define-color red         #eb6f92;
@define-color comment     #6e6a86;
