@define-color bg          rgba(26, 27, 38, 0.9);
@define-color bg_alt      rgba(36, 40, 59, 1.0);
@define-color fg          #c0caf5;
@define-color cyan        #7dcfff;
@define-color blue        #7aa2f7;
@define-color magenta     #bb9af7;
@define-color pink        #ff007c;
@define-color green       #9ece6a;
@define-color yellow      #e0af68;
@define-color red         #f7768e;
@define-color comment     #565f89;
